.mail-address {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #eaeaea;
  font-size: 2vh;
  text-align: center;
}

.mail-wrap {
  padding: 5vw;
  border-radius: 10px;
}
/* PC */
@media (min-width: 768px) {
  .mail-address {
    font-size: 5vh;
    /* color: #c62828; */
    text-align: center;
  }
}

/* スマホ、タブレット対応 メディアクエリ */
@media (max-width: 767px) {
  .sub-title {
    margin-bottom: 2vh;
  }

  .mail-wrap {
    filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.4));
    background: #263238;
  }
}