.image-wrap {
  margin: 0 auto;
  text-align: center;
}

.image-wrap img{
  border-radius: 50%;
  box-shadow: 2px 2px 4px;
  margin-bottom: 2vh;
  }

.name {
  color: #fdd835;
}

.profile-body {
  color: #eaeaea;
}

/* PC */
@media (min-width: 768px) {
  .profile-wrapper {
    display: flex;
  }

  #profile-image {
    margin-bottom: 5vh;
  }

  .image-wrap {
    width: 15vw;
    text-align: center;
  }

  .profile-body {
    padding: 1vw;
  }
}

/* スマホ、タブレット対応 メディアクエリ */
@media (max-width: 767px) {
  .image-wrap {
    width: 60vw;
  }
}