.profile-wrapper {
  display: flex;
}

#profile-image {
  margin-bottom: 5vh;
}

.image-wrap {
  width: 15vw;
  text-align: center;
}

.image-wrap img{
  border-radius: 50%;
  box-shadow: 2px 2px 4px;
  margin-bottom: 2vh;
  }

.name {
  color: #fdd835;
}

.profile-body {
  padding: 1vw;
}

.profile-body {
  color: #eaeaea;
}