.top_right {
  width: 100%;
}

.sub-title {
  margin-bottom: 10vh;
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work {
  flex-basis: 33%;
}

.work-thumbnail {
  /* width: 200px; */
  /* height: 200px; */
}

.sample {
  width: 350px;
  height: 300px;
  object-fit: scale-down;
  background-color: black;
}