.top_right {
  width: 80vw;
}

.sub-title {
  margin-bottom: 10vh;
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work {
  flex-basis: 33%;
}

.work-thumbnail {
  margin-bottom: 1vh;
  filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.6));
}

.sample {
  width: 350px;
  height: 300px;
  object-fit: contain;
}